@use './variables' as *;

.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

body {
    background-color: $darkGreen;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    margin: 2rem auto;
    text-align: center;
}

button {
    border: none;
    background-color: $lightGreen;
    color: $darkGreen;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $lightGreen;
    }
}

input {
    border: none;
    background-color: white;
    color: $darkGreen;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    margin: .5rem;
}

select {
    border: none;
    background-color: white;
    color: $darkGreen;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    margin: .5rem;
}

label {
    color: white;
    font-size: 1.5rem;
    margin: .5rem;
}