@use './variables' as *;

.fridge {
  position: relative;
  background-color: rgb(241, 231, 213);
  border-radius: 1rem;
  height: 100vh;
  width: 100%;
  text-align: center;
  ul {
    //set this as absolute so list items can be positioned relative to it
    position: absolute;
    //***For Testing purposes, I've added a border***
    border: 2px solid hotpink;
    width: 300px;
    height: 300px;
    margin: 100px 200px;
  }
  li{
    position: relative;
  }
}

  .btnContainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
    flex-direction: space-evenly;
    button {
      margin: 1rem;
    }
  }