@use './variables' as *;

.fridge {
  background: rgb(244, 229, 203);
  background: linear-gradient(90deg, rgba(244, 229, 203, 1) 0%, rgba(255, 255, 255, 1) 27%, #f4e5cb 100%);
  border-radius: 1rem;
  height: 945px;
  width: 100%;
  text-align: center;
  position: relative;
  
  ul {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 50px 200px;
  }
  
  li {
    position: relative;
  }
}

.fridgeHandle {
position: absolute;
top: 475px;
left: 10%;
width: 100px;
height: auto;
  img {
    display: block;
  }
}

li:nth-child(even) {
  transform: rotate(2deg);
}

li:nth-child(odd) {
  transform: rotate(359deg);
}

.btnContainer {
  background-color: $darkGreen;
  border-radius: 1rem;
  margin: 50vh 1rem;
  display: none;

  form {
    display: flex;
    flex-direction: column;
  }

  button {
    margin: 1rem;
  }
}