
//FIXME: remember to remove borders that were for testing purposes

.cardContainer {
  border: 1px solid blue;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: space-between;

  .card {
    border: 1px solid hotpink;
    margin: 5rem 2rem;
    padding: 10rem;
    display: flex;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    ul {
      border: 1px solid red;
      position: absolute;
      margin: 0 25vw;
    }

    li {
      position: relative;
    }
  }
}