@use 'variables' as *;
//FIXME: remember to remove borders that were for Testing purposes

.cardContainer {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  .card {
    margin: 2rem auto 4rem auto;
    padding: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: rgb(241, 231, 213);
    border: 25px solid rgb(34, 34, 34);
    box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, .4);
    outline: .6rem double $yellow;
    border-radius: 1px;

    ul {
      position: absolute;
    }
    li {
      position: relative;
      margin: .5rem;
      padding: .5rem;
      border: 2px solid black;
      // box-shadow: 1px 1px black;
      box-shadow: 3px 5px 5px black;
      background-color: white;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }
  }

  a {
    color: $lightGreen;

    &:hover,
    &:focus {
      color: $yellow;
    }
  }

  h3 {
    color: white;
  }
}