@use './variables' as *;
@use './mediaQueries' as *;

.desktopNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      border: 2px solid black;
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: white;
      color: $darkGreen;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 1rem;
      cursor: pointer;
      padding: 3% 8%;
      margin-left: -60%;
      box-shadow: 3px 5px 5px black;
      &:hover {
        background-color: $yellow;
        color: black;
      }
      a {
        color:black;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        &:hover,
        &:focus {
          color: black;
          // text-decoration: underline;
        }
      }
    }
  }
}

.logo,
.hamburger {
  max-width: 100%;
  margin: 1rem;
  img,
  i {
    width: 50px;
    margin-top: 20%;
  }
}

// ***Hamburger Menu*** //
@include desktop {
  .navContainer{
    display: none;
  }
}
.hamburger {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  i {
    color: white;
    font-size: 2.1rem;
  }
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $darkGreen;
    color: $yellow;
  }
  @include desktop {
    display: block;
  }
}

.mobileMenu {
  display: none;
  @include desktop {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
  }

  .menu {
    height: 100vh;
    width: 100vw;
    background: $darkGreen;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      li {
        margin: 0.5rem;
        padding: 0.5rem;
      }
      .xIcon {
        margin-left: 10rem;
      }
    }
  }
}
