@use './variables' as *;
@use './mediaQueries' as *;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      border: 2px solid black;
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: white;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 1rem;
      cursor: pointer;
      padding: 3% 8%;
      margin-left: -60%;
      box-shadow: 3px 5px 5px black;

      &:hover {
        background-color: $yellow;
        color: black;
        transform: scale(1.2);
      }

      a {
        color: black;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;

        &:hover,
        &:focus {
          color: black;
          // text-decoration: underline;
        }
      }
    }
  }
}

.logo {
  max-width: 100%;
  margin: 1rem;

  .closedf {
    width: 50px;
    margin-top: 20%;

    &:hover {
      opacity: 0;
    }
  }

  .openf {
    width: 90px;
    margin-top: -87%;
    margin-left: -40%;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}