@use './variables' as *;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      padding-left: 10rem;
      a {
        color: $yellow;
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        &:hover,
        &:focus {
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
}

.logo {
  max-width: 100%;
  margin: 1rem;
  img {
    width: 50px;
  }
}