@use './variables' as *;
@use './mediaQueries' as *;

.searchForm {
    display: flex;
    gap: 3%;
    @include desktop {
        flex-direction: column;
    }
    justify-content: space-between;
    align-items: center;
    @include mobile {
        text-align: center;
    }
    .flexForm{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        @include mobile {
            flex-direction: column;
            gap: 0;
        }
    }
    .searchTerm, .searchTheme{
        width: 100%;
        input, select {
            width: 80%;
            @include desktop {
                width: 85%;
            }
            @include mobile {
                width: 100%;
                text-align: center;
            }
        }
    }
}