@use './variables' as *;
@use './mediaQueries' as *;

.displayWords {
  display: flex;
  margin-top: 1rem;
  gap: 3%;
  @include desktop {
    flex-direction: column;
    gap: 0;
  }
}

.wordBank {
  display: flex;
  flex-direction: column;
  width: 100%;
  button {
    h2 {
      color: $darkGreen;
      font-size: 1.5rem;
    }
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }
  .associatedWords,
  .helperWordBank {
    border: 1px solid $lightGreen;
    border-radius: 1rem;
    height: 400px;
    overflow: scroll;
  }
}

.words{
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  margin-top: 0;
  align-items: center;
  li {
    user-select: none;
    border: 2px solid black;
    box-shadow: 1px 1px black;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}